*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;

}
.main-page{
    height: 100%;
    width: 100%;

}
.page1{
    height: 100%;
    width: 100%;
    background-color:rgb(117, 182, 240);
}

.page2{
    height: 100%;
    width: 100%;
    background-color:rgb(93, 245, 126);
    display: flex;
    justify-content: center;
    align-items: center;
   overflow: hidden;
   
}
.page2 h1{
    font-size: 30vw;
    width: 100%;
}
.page3{
    height: 100%;
    width: 100%;
    background-color: black;
}

