* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.page {
    min-height: 100vh;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 40%;
    min-height: 60%;
    background-color: grey;
    position: relative;
    box-shadow: 10px 20px 10px red;
    border-radius: 2vw;
    border: 0.1vw solid black;
    padding: 2vw;
}

h1 {
    text-align: center;  
    margin-bottom: 1vw; 
    color: yellow; 
}
h4{
    margin:1vw;
    font-style: italic;
}
.box {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

input {
    height: 2.3vw;
    width: 60%;
    border-radius: 1vw;
    border: 2px solid black;
    padding: 0.5vw;
}

.small-cont {
    display: flex;
    gap: 0.5vw;
}

button {
    padding: 0.6vw;
    width: 7vw;
    cursor: pointer;
    background-color: green;
    font-weight: 600;

}
button:nth-child(2)
{
    background-color: red;
}
ul {
    margin-top: 2vw;
    padding-left: 2vw;
}

ul li {
    margin: 0.7vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
