*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  

}
.page{

    width: 50%;
  
    text-align: center;
}
button{
 padding:0.6vw;
 font-weight: 600;
 margin: 2vw;
}
span{
    font-weight: 500;
    color: blue;
}