*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{

    height: 100%;
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.page{
    height: 60%;
    width: 60%;
    background-color:blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap:2vw
}
button{
    position: absolute;
    top: 0;
    margin-top: 2vw;
    padding: 0.6vw;
    font-weight: 600;
    cursor: pointer;
}
.box1{
    margin-top: 3vw;
    height: 60%;
    width: 30%;
    background-color: #fff;
    
}
.box2{
    margin-top: 3vw;
    height: 60%;
    width: 30%;
    background-color: #fff;
}
img{
    object-fit: conatin;
    object-position: top;
   width: 100%;
    height: 100%;
}